.treeItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;    
}

.treeItemDescription {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.treeItemDescription div {
    margin-left: 5px;
}

.treeItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    color: #333;    
}
a:hover {
    color: #333;
    cursor:pointer;
}